<p id="notice"><%= notice %></p>

<h1>Survey Results</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Title</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Contact Preference</th>
      <th>All Topic Scores</th>
      <th>How Many Scores</th>
      <th>Version</th>
      <th>All Questions</th>
      <th>How Many Questions</th>
    </tr>
  </thead>

  <tbody>
    <% @survey_results.each do |survey_result| %>
      <tr>
        <td><%= survey_result["email"] %></td>
        <td><%= survey_result["name"] %></td>
        <td><%= survey_result["title"] %></td>
        <td><%= survey_result["company"] %></td>
        <td><%= survey_result["phone"] %></td>
        <td><%= survey_result["contact_preference"] %></td>
        <td><%= survey_result["all_topic_scores"] %></td>
        <td><%= survey_result["how_many_scores"] %></td>
        <td><%= survey_result["version"] %></td>
        <td><%= survey_result["all_questions"] %></td>
        <td><%= survey_result["how_many_questions"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey Result', new_survey_result_path %>
